//
//  index.pug
//  nscake.github.io
//  
//  Created by Tanner Bennett on 2020-05-02
//  Copyright © 2020 Tanner Bennett. All rights reserved.
//

doctype html
html
  head
    title NSCake
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='css/iPhone.css')
    script(src='js/iPhone.js')
    //- script(src='js/jquery.min.js')
    //- script(src='js/jquery-ui.min.js')
    //- script(src='js/popper.min.js')
    //- script(src='js/bootstrap.js')
  
  body.pinstripe
    p Hi welcome to my website
